<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52693869102-s2flqt5g476c01l52gcuo39clshftm8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52693869102-s2flqt5g476c01l52gcuo39clshftm8d</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ6Kn0Y9FbldJdOhNPPKQqGsDNr8x8TIA</string>
	<key>GCM_SENDER_ID</key>
	<string>52693869102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>6110613210.engr.TodoApp</string>
	<key>PROJECT_ID</key>
	<string>mytodoapp-6267c</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodoapp-6267c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52693869102:ios:05b6dcd736c213760c75bf</string>
</dict>
</plist>